name: GFSLT-VLP
data:
  train_label_path: ./data/PHOENIX-2014-T/labels.train
  dev_label_path: ./data/PHOENIX-2014-T/labels.dev
  test_label_path: ./data/PHOENIX-2014-T/labels.test
  dev_reg_label_path: ./data/PHOENIX-2014-T/evaluation/sign-recognition/out.example-hypothesis-dev.ctm
  test_reg_label_path: ./data/PHOENIX-2014-T/evaluation/sign-recognition/out.example-hypothesis-test.ctm
  img_path: ./data/PHOENIX-2014-T/features/fullFrame-210x260px/
  max_length: 300
training:
  wandb: online # online or disabled
  scale_embedding: False
model:
  transformer:  ./pretrain_models/MBart_trimmed
  visual_encoder: ./pretrain_models/mytran
  sign_proj: True
  use_cls_token: False
  input_dim: 1024
  hidden_size: 1024
